body {
  margin: 0;
  background: #ccc;
}

.popup {
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  top: 0;
  width: 754px;
  box-sizing: border-box;
  margin: auto;
  margin-left: calc(50% - 377px);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 98px;
  padding-right: 98px;
}

.popup__title {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
  color: #0c1014;
  margin-top: 0;
  margin-bottom: 35px;
}

.popup__form {
  background: #ffffff;
}

@media (max-width: 780px) {
  .popup {
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.form {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 362px 30px 166px;
  grid-template-rows: repeat(11, 88px), 66px, 40px;
}

.form__avatar {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}


.form__input-item {
  margin-bottom: 32px;
  grid-column: 1 / 4;
}

.form__input-item--narrow {
  grid-column: 1 / 2;
}

.form__submit-button {
  height: 48px;
  grid-column: 1 / -1;
  border: none;
  background: #e5266e;
  border-radius: 2px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.form__cancel-wrap {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 15px;
  
}

.form__cancel-button {
  background: none;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #0848c0;
  cursor: pointer;
}


@media (max-width: 780px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form__avatar {
    margin: auto;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}


.input {
  position: relative;
}

.input--logo::before {
  content: "";
  position: absolute;
  right: 15px;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
}

.input--corner::before {
  background: url("./images/corner-icon.svg") 50% 50% no-repeat;
}

.input--global::before {
  background: url("./images/global-icon.svg") 50% 50% no-repeat;
}

.input--vk::before {
  background: url("./images/vk-icon.svg") 50% 50% no-repeat;
}

.input--ok::before {
  background: url("./images/ok-icon.svg") 50% 50% no-repeat;
}

.input--fb::before {
  background: url("./images/fb-icon.svg") 50% 50% no-repeat;
}

.input--instagram::before {
  background: url("./images/instagram-icon.svg") 50% 50% no-repeat;
}

.input--youtube::before {
  background: url("./images/youtube-icon.svg") 50% 50% no-repeat;
}

.input__label {
  position: absolute;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #6a6e72;
  padding-left: 13px;
  margin-left: 16px;
  top: 8px;
}

.input__label::before {
  content: "✱";
  color: #d90000;
  position: absolute;
  left: 0;
}

.input__input {
  border: 1px solid #d6dade;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #0c1014;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}

.input__input--without-label {
  padding-top: 15px;
  padding-bottom: 15px;
}

.avatar {
  width: 166px;
  height: 232px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.avatar__label {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #6a6e72;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.avatar__label::before {
  content: "✱";
  color: #d90000;
  font-size: 12px;
  line-height: 16px;
}

.avatar__input-wrap {
  overflow: hidden;
  border-radius: 50%;
  width: 166px;
  height: 166px;
  background: url("./images/avatar.png") 50% 20% no-repeat #000000;
  position: relative;
}

.avatar__input {
  width: 166px;
  height: 366px;
  margin-top: -100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.avatar__input::before {
  content: "";
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: url("./images/avatar-icon.svg") 50% 50% no-repeat;
  overflow: hidden;
}

.avatar__input::after {
  content: "Выберите\0aфайл";
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  width: 100px;
  height: 60px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

.avatar__button {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 45px;
  right: 5px;
  position: absolute;
  z-index: 10;
  background: url("./images/cross-icon.svg") 50% 50% no-repeat #ffffff;
  cursor: pointer;
}

@media (max-width: 780px) {
  .avatar__label {
    order: 3;
  }

  .avatar__input-wrap {
    order: 1;
  }

  .avatar__button {
    order: 2;
    top: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}