body {
  margin: 0;
}




.popup {
  background: #dddddd;
  width: 754px;
  box-sizing: border-box;
  margin: auto;
  margin-left: calc(50% - 377px);
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: 98px;
  padding-right: 98px;
}

.popup__title {
  font-family: "Montserrat", "Arial", "sans-serif";
  font-size: 28px;
  line-height: 34px;
  font-weight: 800;
  color: #0c1014;
  margin-top: 0;
  margin-bottom: 35px;
}

.popup__form {
  background: #ffffff;
}





.input {
  position: relative;
}

.input--logo::before {
  content: "";
  position: absolute;
  right: 16px;
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  /* background: red; */
}

.input--corner {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--global {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--vk {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--ok {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--fb {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--instagram {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input--youtube {
  background: url("") 50% 50% no-repeat #ffffff;
}

.input__label {
  position: absolute;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #6a6e72;
  padding-left: 13px;
  margin-left: 16px;
  top: 8px;
}

.input__label::before {
  content: "✱";
  color: #d90000;
  position: absolute;
  left: 0;
}

.input__input {
  border: 1px solid #d6dade;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #0c1014;
  font-weight: 400;
  padding-top: 22px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
}






























.avatar {
  background: #cccccc;
  width: 166px;
  position: relative;
}

.avatar__label {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #6a6e72;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.avatar__label::before {
  content: "✱";
  color: #d90000;
  font-size: 12px;
  line-height: 16px;
}

.avatar__input-wrap {
  overflow: hidden;
  border-radius: 50%;
  width: 166px;
  height: 166px;
  background: url("./images/avatar.png") 50% 20% no-repeat #000000;
  position: relative;
}

.avatar__input {
  width: 166px;
  height: 366px;
  margin-top: -100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.avatar__input::before {
  content: "";
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: url("./images/avatar-icon.svg") 50% 50% no-repeat;
  overflow: hidden;
}

.avatar__input::after {
  content: "Выберите\0aфайл";
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  width: 100px;
  height: 60px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

.avatar__button {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50%;
  border: 0;
  margin: 0;
  padding: 0;
  bottom: 120px;
  right: 5px;
  position: absolute;
  z-index: 10;
  background: url("./images/cross-icon.svg") 50% 50% no-repeat #ffffff;
  cursor: pointer;
}