body {
  margin: 0;
}

.avatar {
  background: #ddd;
  width: 166px;
  position: relative;
}

.avatar__label {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #6a6e72;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}

.avatar__label::before {
  content: "✱";
  color: #d90000;
  font-size: 12px;
  line-height: 16px;
}

.avatar__input-wrap {
  overflow: hidden;
  border-radius: 50%;
  width: 166px;
  height: 166px;
  background: url("./avatar.png") 50% 20% no-repeat #000000;
  position: relative;
}

.avatar__input {
  width: 166px;
  height: 366px;
  margin-top: -100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.avatar__input::before {
  content: "";
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background: url("./avatar-icon.svg") 50% 50% no-repeat;
  overflow: hidden;
}

.avatar__input::after {
  content: "Выберите\0aфайл";
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  width: 100px;
  height: 60px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  text-align: center;
}

.avatar__button {
  width: 36px;
  height: 36px;
  background: red;
  border-radius: 50%;
  border: 0;
  margin: 0;
  padding: 0;
  bottom: 120px;
  right: 5px;
  position: absolute;
  z-index: 10;
  background: url("./icon-cross.svg") 50% 50% no-repeat #ffffff;
  cursor: pointer;
}